// codeInput,codeLabel,inputPanel

.codeInput {
    font-size: 10px;
    width: 100%;
    direction: ltr;
    @at-root .codeLabel {
      
    }
    @at-root .inputPanel {
        width: 100%;
        display: flex; 
        justify-content: flex-end;
        align-items: center; 

        & input {
            font-size: 1.9em;    //19px     1.9em
            font-family: IranYekanMedium;
            line-height: 1.68em;      //32px     1.68em
            width: 2.526em;       //48px     2.526em
            height: 2.526em;       //48px    2.526em
            background-color: #FCCB29;
            color: #322808;
            text-align: center;
            outline: none;
            border: none;
            box-shadow: 4px 8px 8px rgba(50, 40, 8, 0.16);

            &:not(:last-child){
                margin-right: 0.684em;      //13px    0.684em
            }
            @at-root .filled {
                
            }
            @at-root .valid {
                
            }
            @at-root .invalid {
                
            }
        }

    }
    @at-root .err {
      
    }
}