/* counter,plus,tablet,minus */

.counter {
    font-size: 10px;
    display: flex;
    align-items: flex-end;
}

    .plus {
        width: 2em;   //20px     17.9775%      2em
        margin-bottom: 0.4em;     //4px     2.247%      0.4em
        cursor: pointer;
    }
    .tablet {
        font-size: 1.2em;    //12px     1.2em
        min-width: 2.33em;      //28px      37.0786%       2.33em
        align-self: stretch;
        min-height: 2.33em;     //28px     2.33em 
        background-color: #FEF4D4;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: IranYekanFnBold;
        line-height: 1.083em;      //13px      1.083em
        margin-left: 0.66em;     //8px     0.66em
        margin-right: 0.66em;    //8px     0.66em
    }
    .tablet::before {
        position: absolute;
        content: '';
        display: block;
        width: 69.6969%;
        height: 65.3846%;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.66;
        border-radius: 5px;
        filter: blur(4px);
        background-color: #C9A220;
        z-index: -1;
    }
    .minus {
        width: 2em;   //20px     17.9775%      2em
        margin-bottom: 0.4em;     //4px     2.247%      0.4em
        cursor: pointer;
    }

