.radio {
    
}
    .input {
        display: none;
    }
    .label {
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
    .fakeInput {
        position: relative;
        display: block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #FCCB29;
        margin-left: 25px;
        bottom: -3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.input:checked ~ .label > .fakeInput::after {
    position: relative;
    display: block;
    content: '';
    width: 60%;
    height: 60%;
    background-color: #FCCB29;
    border-radius: 50%;
}

   
   